/* Globals */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4.8rem;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

h2 {
    font-size: 3.6rem;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: .5rem;
    width: fit-content;
    padding: .5rem 2rem;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    width: 100%;
    padding: 1.6rem 0;
}

/* Header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    padding: 0 15rem;
}

.header-ribbon,
.header-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 90rem;
}

.header-body p,
a {
    font-size: 1.8rem;
    color: #E5E7EB;
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo img {
    height: 10rem;
    width: auto;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
}

.header-body {
    padding: 10rem 0;
}

.left {
    margin: 0 4rem 0 0;
}

.left p {
    margin: 0;
}

.left button {
    margin: 1rem 0;
}

.right {
    display: flex;
    align-items: center;
}

.right img {
    width: auto;
    height: 20rem;
}

/* Container */

.container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
}

.items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 80rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.item img {
    width: 15rem;
    height: auto;
    border: 0.2rem solid #3882F6;
    border-radius: 1rem;
}

.item p {
    text-align: center;
    width: 15rem;
    height: auto;
}

.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 25rem;
    background-color: #E5E7EB;
}

.container-center p {
    font-size: 3.6rem;
    font-style: italic;
    color: #1F2937;
    margin: 0 2rem;
    max-width: 100%;
    width: 85rem;
}

.container-center h3 {
    text-align: right;
    margin: .2rem 2rem 0;
    max-width: 100%;
    width: 85rem;
}

.container-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 0;
    width: 100%;
}

.call {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 95rem;
    padding: 2rem;
    gap: 5rem;
}

.call-text {
    padding: 0 5rem;
}

.call-text h4 {
    margin: 1rem 0 .5rem 0;
}

.call-text p {
    margin: 0 0 1rem 0;
}

.call-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
}

.call-button button {
    border: .2rem solid #F9FAF8;
}